<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        <form method="get" action="/logout">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="/Login?redirectUri=">Log in</a>
    </NotAuthorized>
</AuthorizeView>
